# History files

.Rhistory

.Rapp.history


# RStudio files

.Rproj.user/


# produced 
04_analysis/01_models/*.rds
!04_analysis/01_models/exposure_model_summary.rds
!04_analysis/01_models/testing_model_summary.rds
!04_analysis/01_models/testing_cov_model_summary.rds
NOTES.txt
TODO.txt

# Misc
.dropbox
desktop.ini
.DS_Store
.Ruserdata
.Rproj.user
Icon?



